#! /usr/bin/env python
PACKAGE = 'andres_turtlebot_pid'
from dynamic_reconfigure.parameter_generator_catkin import *
gen = ParameterGenerator()
# using strings because there seems to be no vector support (currently)
gen.add('kp', str_t, 0, 'Proportional component', '0.1, 0.001')
gen.add('kd', str_t, 0, 'Derivative component', '0.01, 0.0001')
gen.add('ki', str_t, 0, 'Integral Component', '0.01, 0.0001')
exit(gen.generate(PACKAGE, PACKAGE, 'andres_turtlebot_pid'))